html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.ReactModal__Content.ReactModal__Content--after-open button {
    margin-top: 1rem;
}
  
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
  
.ReactModal__Overlay--after-open{
    opacity: 1;
}
  
.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal-button {
    margin: 0;
    background-color: rgba(76, 179, 55, 0.67);
    outline: none;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.6rem 1rem;
}

.modal-button:hover {
    background-color: rgba(76, 199, 0, 0.6);
}

.App {
    position:absolute;
    left:0;
    right:0;
    overflow:hidden;

  background: url(./background.png);
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% 100%;

  img {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-top: 4rem;
      width: 20%;
      height: 20%;
  }

  @media screen and (min-width: 991px) {
      img {
          width: 20%;
          height: 20%;
          padding-top: 100px;
      }
  }

  @media screen and (max-width: 990px) {
    img {
        width: 80%;
        height: 20%;
        
    }
}

  p {
    text-align: center;
    margin: 3rem auto;
    color: white;
  }

  

  form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 20%;
      
    input {
        margin: 0 0 2rem 0;
        background-color:rgba(218, 212, 212, 0.27);
        outline: none;
        border-radius: 25px;
        padding: 1rem 4rem;
        color: white;
        border: none;
        border: 1px solid transparent;
        
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 5% 50%;
        transition: border 200ms ease-in-out;
    }

    input:focus {
        border: 1px solid white;
    }

    input::placeholder {
        color: rgb(212, 212, 212);
    }

    input[name=email] {
        background-image: url(./user-regular.svg);
    }

    input[name=password] {
        background-image: url(./lock-solid.svg);
    }
    
    input[type=submit] {
        margin: 0 0 2rem 0;
        background-color: rgba(76, 179, 55, 0.67);
        outline: none;
        border-radius: 25px;
        border: none;
        color: white;
        cursor: pointer;
        padding: 1rem 0.5rem;
    }
    input[type=submit]:hover {
        background-color: rgba(76, 249, 0, 0.6);
    }
  }

  @media screen and (max-width: 991px){
    form {
        width: 95%;
    }
  }
  div {
      margin: 7rem 1rem;
      display: flex;
      justify-content: space-between;
      color: white;

      span {
          a {
              font-weight: bold;
              cursor: pointer;
              z-index: 5;
              color: white;
              text-decoration: none;
          }
      }
  }
}

.sign-up {
    position:absolute;
    
    left:0;
    right:0;
    overflow:hidden;
    background: url(./background.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: 100% 100%;
    form {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 20%;

        input[type=text],
        input[type=password],
        input[type=email] {
            margin: 0 0 2rem 0;
            background-color:rgba(218, 212, 212, 0.27);
            outline: none;
            border-radius: 25px;
            padding: 1rem 2rem;
            color: white;
            border: none;
            border: 1px solid transparent;
            
            background-repeat: no-repeat;
            background-size: 1.5rem;
            background-position: 5% 50%;
            transition: border 200ms ease-in-out;
        }

        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus {
            border: 1px solid white;
        }
    
        input[type=text]::placeholder,
        input[type=password]::placeholder,
        input[type=email]::placeholder {
            color: rgb(212, 212, 212);
        }
        
        input[type=submit] {
            margin: 0 0 2rem 0;
            background-color: rgba(76, 179, 55, 0.67);
            outline: none;
            border-radius: 25px;
            border: none;
            color: white;
            cursor: pointer;
            padding: 1rem 0.5rem;
        }
        input[type=submit]:hover {
            background-color: rgba(76, 249, 0, 0.6);
        }
    }
    @media screen and (max-width: 991px){
        form {
            width: 95%;
        }
    }
}
