html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.App {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

  background: url(./background.png);
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% 100%;

  img {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding-top: 4rem;
      width: 20%;
      height: 20%;
  }

  @media screen and (min-width: 991px) {
      img {
          width: 20%;
          height: 20%;
          padding-top: 100px;
      }
  }

  @media screen and (max-width: 990px) {
    img {
        width: 80%;
        height: 20%;
        
    }
}

  p {
    text-align: center;
    margin: 3rem auto;
    color: white;
  }

  

  form {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 20%;
      
    input {
        margin: 0 0 2rem 0;
        background-color:rgba(218, 212, 212, 0.27);
        outline: none;
        border-radius: 25px;
        padding: 1rem 4rem;
        color: white;
        border: none;
        border: 1px solid transparent;
        box-shadow: 0 0 3px white;
        
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: 5% 50%;
        transition: border 200ms ease-in-out;
    }

    input:focus {
        border: 1px solid white;
    }

    input::placeholder {
        color: rgb(212, 212, 212);
    }

    input[name=email] {
        background-image: url(./user-regular.svg);
    }

    input[name=password] {
        background-image: url(./lock-solid.svg);
    }
    
    button {
        margin: 0 0 2rem 0;
        background-color: rgba(76, 179, 55, 0.67);
        outline: none;
        border-radius: 25px;
        border: none;
        color: white;
        cursor: pointer;
        padding: 1rem 0.5rem;
    }
    button:hover {
        background-color: rgba(76, 249, 0, 0.6);
    }
  }

  @media screen and (max-width: 991px){
    form {
        width: 95%;
    }
  }
  div {
      margin: 7rem 1rem;
      display: flex;
      justify-content: space-between;
      color: white;

      span {
          a {
              font-weight: bold;
              cursor: pointer;
              z-index: 5;
          }
      }
  }
}
